{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card p-4">
            <h3 class="text-center text-gold"><i class="bi bi-envelope"></i> Вход по почте</h3>
            <form method="POST">
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required placeholder="cher@example.com">
                </div>
                <div class="mb-3">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-genshin w-100">Войти</button>
            </form>
            <hr class="bg-light">
            <small class="text-muted">Администратор выдает логин и пароль при регистрации</small>
        </div>
    </div>
</div>
{% endblock %}